body {
.kiwibikemenu {
  overflow: hidden;
  background-color: #333;
}

.kiwibikemenu a {
  float: left;
  display: block;
  color: #afc97e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .kiwibikemenu a:not(:first-child) {display: none;}
  .kiwibikemenu a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .kiwibikemenu .responsive {position: relative;}
  .kiwibikemenu .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
